@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&family=Whisper&display=swap');

:root {

  --cor--01: #14281D;
  --cor--02: #BFAFA6;
  --cor--03: #280004;
  --font--01: "Nata Sans", sans-serif;
  --font--02: "Whisper", cursive;
}

body {
  margin: 0%;
  padding: 0%;
}

.logomarca {
  font-family: var(--font--02);
  font-size: 3.5em;
  font-weight: bold;
  color: #3D4227;
  margin: 0.5em;
  display: flex;
  justify-content: flex-start;


}

nav {
  background-color: var(--cor--02);
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;

}

a {
  text-decoration: none;
  color: #3D4227;
  font-family: var(--font--01);
  font-size: 1.2em;
  font-weight: bold;
  transition: 1ms;

}
html {
  scroll-behavior: smooth;
}


/* links de navegação */

.menu {
  list-style: none;
  display: flex;
  gap: 2vh;
  margin: auto;

}

#home {

  background-image: url("imagens/colecao4.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  padding-left: 5%;
  position: relative;
  margin: 20px;
  border-radius: 10px;
}

#textosobreposto {
  display: flex;
  flex-direction: column;
  gap: 1em;
  color: var(--cor--01);
  font-family: var(--font--01);
  max-width: 500px;
  margin: 5px;
}



.menu :hover {
  color: var(--cor--03);
}

#imagemmodelo {
  width: 1500px;
  max-width: 1500px;
  height: auto;
  border-radius: 10px;
}



#explore {
  background-color: var(--cor--02);
  padding: 0.5em 1.5em;
  border-radius: 20px;
  text-decoration: none;
  color: #3D4227;
  font-weight: bold;
  width: fit-content;
  transition: 0.3s;
}

#explore :hover {
  color: var(--cor--03);

}


#fraseconfira {
  font-size: 20px;
  font-family: var(--font--01);
  color: var(--cor--01);
  text-align: center;
  margin: 5em
  
}

#frasedeefeito {

  color: var(--cor--01);
  background-color: var(--cor--02);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  max-width: 100%;
}

#frasedeefeito>h1 {
  font-style: italic;
  font-family: var(--font--01);
}

#frasedeefeito:hover {
  color: var(--cor--02);
  background-color: var(--cor--01);
}

#produtos {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 5em;
  

}
.produto {
    display: flex;
  flex-direction: column; /* imagem em cima, preço embaixo */
  align-items: center;
  background-color: #e8e4e4;
  border-radius: 1em;
  padding: 1em;
  width: 150px;
  box-sizing: border-box;
}

#produtos img {
  height: 150px;
  width: 120px;
  background-color: #e8e4e4;
  border-radius: 1em;
}
.preço {
  justify-content: ;
}
#cardcoleção {
  background-color: var(--cor--02);
  font-family: var(--font--01);
  color: var(--cor--03);
  padding: 35px;
  text-align: center;
  margin: auto;
  max-width: 700px;
  border-radius: 30px;
  
}
#cardcoleção span {
  color: var(--cor--01);
  font-weight: 800;
}


#sobreacoleção>h1 {
  color: var(--cor--01);
  font-size: 30px;
}





footer {
  background-color: var(--cor--03);
  font-size: 14px;
  font-style: italic;
  color: var(--cor--03);
  width: 100%;
  height: 140px;
  margin: 230px 10px 0px 0px;

}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    height: auto;
    padding: 1em 0;
  }


  .logomarca {
    font-size: 2.8em;
    margin-bottom: 10px;
    justify-content: center;
  }

  .menu {
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin: 0;
    padding: 0;
  }

  .menu li a {
    font-size: 1em;
  }

  .produtos {
    width: calc(50% - 20px);
  }

  #produtos {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }



#frasedeefeito {
  padding: 80px;
  margin: 0;

}

#frasedeefeito>h1 {
  font-size: 25px;
}

#textosobreposto {
  font-size: 18px;
  
}
#explore {
  font-size: 0.8em;
}

}