@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&family=Whisper&display=swap');

:root {
    
    --cor--01: #293B14;
    --cor--02: #A79482;
    --cor--03: #593A2E;
    --font--01: "Nata Sans", sans-serif;
    --font--02: "Whisper", cursive;
}
body {
    margin: 0%;
    padding: 0%;
  
   
}

.logomarca {
    font-family: var(--font--02);
    font-size: 3.5em;
    font-weight: bold;
    color: #3D4227;
    margin: 0%;
    position: relative;
    left: 5%;
    top: 3%;
 
}

nav {
    background-color: var(--cor--02);
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
   
   
    
}



a {
    text-decoration: none;
    color: #3D4227;
    font-family: var(--font--01);
    font-size: 90%;
    font-weight: bold;
    position: relative;
    bottom: 40%;
}
.menu {
    list-style: none;
    display: flex;
    gap: 2vh;
    margin: auto;

}
.menu :hover {
    color: var(--cor--03);
}
#imagemmodelo {
    max-width: 100%;
    height: auto;
    margin: 170px 0px 0px 0px;
    
 

}
#anuncio {
    font-family: var(--font--01);
    color: var(--cor--01);
    font-size: 2.5vh;
    position: absolute;
    top: 30%;
    left: 2.3vh;
}
#explore {
 background-color: var(--cor--02);
 padding: 0.5em;
 border-radius: 10vh;
 position: absolute;
 top: 23em;
 left: 40px;
}
#explore :hover {
    color: var(--cor--03);
    
}
produtos {
  
}


#produtos >img {
    margin: 10px 10px 10px 10px;
    max-width: 200px;
    max-height: 200px;
    padding: 6px 10px 50px 10px;
    background-color: #e9eae4;
    border-radius: 12px;
    position: relative;
    align-items: center;
   
}
#fraseconfira {
    font-family: var(--font--01);
    color: var(--cor--01);
    text-align: center;
    margin: 40px 10px 10px 10px;
    
}

#frasedeefeito {
    color: var(--cor--01);
    background-color: var(--cor--03);
    font-family: var(--font--01);
    font-size: 3em;
    font-style: italic;
    height: 50px;
    width: 900px;
    margin: auto;
    padding: 50px;
    border-radius: 10%;
    
}
#frasedeefeito :hover {
    color: var(--cor--03);
    background-color: var(--cor--01);
}


